extends ../layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/dashboard/order-progress.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    .dashboard-view 
        .dashboard-cont-view
            .content
                .stat-view
                    .item 
                        .info 
                            i.fa.fa-tag.skyblue
                            h1 محصولات
                        .num= numOfProduct
                    .item 
                        .info 
                            i.fa.fa-book.yellow
                            h1 دوره‌ها
                        .num= numOfCourse
                    .item 
                        .info 
                            i.fa.fa-shopping-cart.green
                            h1 سفارش ها
                        .num= numOfOrder
            .content
                -for(var i=0; i<orders.length; i++){
                    -var order = orders[i];
                    include order-progress
                -}
                
                                
        .sidebar-view 
            include sidebar
        


                 
    script(src="/js/dashboard.js") 
    script.
        document.getElementById('sidebar-link-1').classList.add('active');
        var numOfOrders = #{orders.length};
        $(document).ready(() => {
            var orders = [];
            for(var i=0; i<numOfOrders; i++){
                orders.push({
                    phone: $(`#order-progress-phone-${i}`), 
                    owner: $(`#order-progress-owner-${i}`), 
                    postcode: $(`#order-progress-postcode-${i}`), 
                    address: $(`#order-progress-address-${i}`), 
                    id: i
                })
            }
            orders.forEach(order => {
                order.phone.click(() => {
                    navigator.clipboard.writeText(order.phone.text());
                })
                order.owner.click(() => {
                    navigator.clipboard.writeText(order.owner.text());
                })
                order.postcode.click(() => {
                    navigator.clipboard.writeText(order.postcode.text());
                })
                order.address.click(() => {
                    navigator.clipboard.writeText(order.address.text());
                })
                
            });
        })
