extends ../layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")
    link(rel="stylesheet", href="/css/dashboard/admin-users.css")
    link(rel="stylesheet", href="/css/forms.css")

block content
    .dashboard-view 
        .dashboard-cont-view
            .content
                .user-control
                    h1.title
                        i.fa.fa-users
                        | مدیریت کاربران
                        .stat #{users.length} کاربر
                .form-view
                    form#buyform(action="/dashboard/admin-change-pass" method="POST") 
                        .raw 
                            select.quarter#city-select(name="userID") 
                                -for(var i=0; i<users.length; i++)
                                    option(value="#{users[i]._id}")= users[i].fullname
                            input.quarter(type="text" name="password" placeholder="کلمه عبور جدید" required value="1234")
                            button.blue(type="submit") تغییر کلمه عبور
                .users-list 
                    -for(var i=0; i<users.length; i++){
                        .item
                            .name
                                i.fa.fa-user
                                | #{users[i].fullname}
                            .phone 
                                i.fa.fa-phone
                                | #{users[i].phone}
                            .email 
                                i.fa.fa-map-marker
                                | #{users[i].address}
                            .role(class="#{users[i].role == 'admin'? 'red': 'green'}")= users[i].role
                            .actions
                                a.edit(href="#") 
                                    i.fa.fa-edit
                                a.delete(href="/dashboard/delete-user?userID=#{users[i]._id}" onclick="return confirm('مطمئن هستید؟')") 
                                    i.fa.fa-trash
                    -}
        .sidebar-view 
            include sidebar
        


    script.
        document.getElementById('sidebar-link-2').classList.add('active');
    script(src="/js/dashboard.js") 


