.orders-list-item(id="orders-list-item-#{i}" class="#{order.state == 'تکمیل شده' || !order.payed? 'done' : ''}")
    .col= order.ownerNmae
    .col #{dateConvert.convertDate(order.date)}
    .col= order.phone
    .col= order.delivery
