.order-progress(id="order-progress-#{i}")
    -if(order.state != 'تکمیل شده'){
        .progress-stat 
            .stage(class="#{orderStateNum(order.state) > 1? 'active':''}")
                i.fa.fa-credit-card-alt
                -if(orderStateNum(order.state) > 1)
                    .text پرداخت شده
                -else
                    .text در انتضار پرداخت
            .line(class="#{orderStateNum(order.state) > 1? 'active':''}")
            .stage(class="#{orderStateNum(order.state) > 2? 'active':''}")
                i.fa.fa-arrows-rotate
                -if(orderStateNum(order.state) > 2)
                    .text پردازش شده
                -else
                    .text در حال پردازش
            .line(class="#{orderStateNum(order.state) > 2? 'active':''}")
            .stage(class="#{orderStateNum(order.state) > 3? 'active':''}") 
                i.fa.fa-boxes-packing
                -if(orderStateNum(order.state) > 3)
                    .text آماده ارسال
                -else
                    .text آماده سازی جهت ارسال
            .line(class="#{orderStateNum(order.state) > 3? 'active':''}")
            .stage(class="#{orderStateNum(order.state) > 4? 'active':''}") 
                i.fa.fa-truck-fast
                -if(orderStateNum(order.state) > 4)
                    .text ارسال شده
                -else
                    .text ارسال سفارش
    -}
.order-info(id="order-info-#{i}")
    .right-side 
        .info
            .item
                i.fa.fa-calendar-alt 
                | #{dateConvert.convertDate(order.date)}
            .item 
                i.fa.fa-arrows-rotate
                | وضعیت: #{order.state}
        h1.order-title فاکتور سفارش:
        .invoice-view 
            -for(var j=0; j<order.items.length; j++){
                .item 
                    .name
                        a(href="/products/product-view?id=#{order.items[j].item._id}" target='__blank')
                            | #{order.items[j].item.title}
                            if typeof(order.items[j].color) != 'undefined' && order.items[j].color != null
                                |  - رنگ: #{order.items[j].color}
                    .count #{order.items[j].count} عدد
                    .price #{dot(order.items[j].item.price)} تومان
            -}
        .delivery-info 
            .raw 
                .item
                    .label
                        i.fa.fa-motorcycle
                        | نوع ارسال: 
                    .val= order.delivery
                .item
                    .label
                        i.fa.fa-user
                        | گیرنده: 
                    .val(id="order-progress-owner-#{i}")= order.ownerNmae
            .raw 
                .item 
                    .label
                        i.fa.fa-phone
                        | تلفن: 
                    .val(id="order-progress-phone-#{i}")= order.phone
                .item 
                    .label
                        i.fa.fa-barcode
                        | کد پستی: 
                    .val(id="order-progress-postcode-#{i}")= order.postCode
            .raw 
                .item 
                    .label
                        i.fa.fa-map-marker-alt
                        | شهر: 
                    .val(id="order-progress-city-#{i}")= order.city
            .address-raw
                i.fa.fa-map-marker-alt
                | آدرس: 
                .text(id="order-progress-address-#{i}")= order.address
            .address-raw
                i.fa.fa-comment
                | توضیحات: 
                .text= order.description
            
    .left-side 
        if user.role == 'admin'
            a.recipt(href="/dashboard/admin-print-recipt?orderID=#{order._id}") 
                i.fa.fa-print
            a.recipt(href="/dashboard/admin-print-invoice?orderID=#{order._id}") 
                i.fa.fa-file-invoice-dollar
        -if(!order.payed){
            a.remove-order(href="/dashboard/remove-order?id=#{order._id}") 
                i.fa.fa-times 
                | لغو سفارش
        -}
        .item 
            .label جمع اقلام
            .val #{dot(order.totalPrice)} تومان
        .item 
            .label تخفیف
            .val #{dot(order.discount)} تومان
        .item 
            .label هزینه ارسال
            .val #{dot(order.deliveryPrice)} تومان
        .item 
            .label ارزش افزوده
            .val #{dot(order.tax)}  تومان
        .item 
            .label مجموع
            .val #{dot(order.totalPrice + order.deliveryPrice + order.tax - order.discount)} تومان
        -if(!order.payed){
            a.link.pay(href="/payment/pay-order?id=#{order._id}") 
                i.fa.fa-credit-card-alt 
                | پرداخت
        -}else{
            .payed 
                i.fa.fa-check
                | پرداخت شده
        -}
        -if(user.role == 'admin'){
            .admin-control-order 
                a.prev(href="/dashboard/admin-order-prev?id=#{order._id}") 
                    i.fa.fa-chevron-right 
                    | مرحله قبل
                a.next(href="/dashboard/admin-order-next?id=#{order._id}") 
                    | مرحله بعد
                    i.fa.fa-chevron-left 
        -}
