extends ../layout

block styles
    link(rel="stylesheet", href="/css/courses/courses.css")
    link(rel="stylesheet", href="/css/triple-card.css")
    
block content
    .course-view 
        .course-cont-view
            .content
                .sort-control
                    h1 مرتب سازی بر اساس: 
                        a(href="#") پربازدیدترین 
                        a(href="#") ارزانترین 
                        a(href="#") گرانترین 
                        a.last(href="#") جدید ترین
                    .searchbar 
                        form(action="/courses/course-search" method="POST")
                            input.text(type="text" placeholder="جستجو..." name="search")
                            button.submit(type="submit")
                                i.fa.fa-search
            .content
                .filters-view
                    -if(category){
                        a.remove-filter(href="/courses")= category
                            i.fa.fa-times
                    -}
                br
                .triple-card-view
                    -for(var i=0; i<courses.length; i++){
                        a(href="/courses/course-view?id=#{courses[i]._id}").card 
                            .image 
                                img(src="#{courses[i].cover}", alt="")
                                -if(courses[i].type == 'مجازی')
                                    .type.green آنلاین
                                -if(courses[i].type == 'آفلاین')
                                    .type.pink آفلاین
                                -if(courses[i].type == 'حضوری')
                                    .type.blue حضوری
                            h1= courses[i].title
                            //- p این یک دوره آموزشی نمونه است و فقط جهت نمایش اینجا گذاشته شده. در آینده دوره های مهم و پر طرفدار اینجا نمایش داده میشن
                            .teacher 
                                i.fa.fa-user 
                                .text= courses[i].teacher
                            .line
                            .info 
                                .stat 
                                    i.fa.fa-clock-o 
                                    .val #{timedigit(courses[i].totalTime.hours)}:#{timedigit(courses[i].totalTime.minutes)}:00
                                .price
                                    -if(courses[i].price > 0){
                                        .val= dot(courses[i].price)
                                        .unit تومان
                                    -}else{
                                        .unit رایگان
                                    -}
                                    
                    -}
            .content
                h1.desc-title دوره‌های آموزشی آنلاین

                p.desc در این صفحه از وب‌سایت، دوره‌های آموزشی متنوع و حرفه‌ای در زمینه‌های مختلف فناوری و برنامه‌نویسی ارائه شده‌اند. اگر به دنبال یادگیری مهارت‌های جدید و ارتقاء دانش خود هستید، دوره‌های ما بهترین انتخاب برای شماست.

                h1.desc-title  شبیه‌سازی و شبیه‌سازهای رباتیک
                p.desc یکی از بخش‌های برجسته دوره‌های ما، آموزش شبیه‌سازی و کار با شبیه‌سازهای رباتیک است. به‌ویژه برای علاقه‌مندان به ربات‌های فوتبالیست، دوره‌ای ویژه برای آشنایی و استفاده از RCJ Soccer Sim آماده کرده‌ایم. این دوره‌ها مناسب دانش‌آموزان، دانشجویان و تمامی علاقه‌مندان به مسابقات رباتیک نظیر Robocup و ایران‌اوپن هستند.

                h1.desc-title آموزش برنامه‌نویسی
                p.desc با شرکت در دوره‌های آموزش برنامه‌نویسی، می‌توانید از سطح مبتدی تا پیشرفته در زبان‌های مختلف تسلط پیدا کنید.
                
                ul.desc
                    li دوره آموزشی پایتون: این زبان قدرتمند برای هوش مصنوعی، شبیه‌سازی و توسعه نرم‌افزارهای مختلف کاربرد دارد.
                    li آموزش C و C++: با این دوره‌ها می‌توانید به مفاهیم پایه و پیشرفته برنامه‌نویسی در این زبان‌های محبوب تسلط پیدا کنید.
                    li آموزش STM32: یادگیری میکروکنترلرهای پیشرفته STM32 برای پروژه‌های صنعتی و پیشرفته الکترونیکی.
                    li آموزش آلتیوم دیزاینر (Altium Designer): طراحی مدارهای حرفه‌ای و بردهای الکترونیکی با این نرم‌افزار قدرتمند.

                h1.desc-title مزایای دوره‌های آموزشی ما
                ul.desc
                    li ارائه محتوای کامل و کاربردی به‌صورت ویدیوهای آموزشی با کیفیت بالا.
                    li پشتیبانی تخصصی برای پاسخ به سوالات شما در طول دوره.
                    li امکان خرید دوره آموزشی به‌صورت آنلاین با دسترسی مادام‌العمر به محتوا.

                p.desc اگر به دنبال خرید دوره آموزشی معتبر با محتوای غنی هستید، اکنون فرصت را از دست ندهید! با شرکت در دوره‌های ما، یک قدم بزرگ به سمت موفقیت بردارید. آموزش پایتون، آموزش آلتیوم، آموزش STM32 و دیگر دوره‌ها در انتظار شما هستند!
                h1.desc-title به ما بپیوندید و یادگیری را از امروز شروع کنید.
                br
        .sidebar-view 
            include sidebar
    script(src="/js/course.js")
    script.
        document.getElementById('navlink-3').classList.add('active');
