extends ../layout

block styles
    link(rel="stylesheet", href="/css/courses/course-view.css")
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/list-view.css")
    
block content
    //- <script src="https://fast.wistia.com/embed/medias/qktgiw2vq4.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_qktgiw2vq4 seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/qktgiw2vq4/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    include ./login-popup

    .course-view 
        .course-cont-view
            .content
                .course-cover
                    .cover
                        img(src="#{course.cover}", alt="")
                    h1.title= course.title
                    p.desc
                        -for(var i=0; i<course.shortdescription.length; i++) {
                            -if(course.shortdescription[i] == '\n')
                                br
                            -else
                                | #{course.shortdescription[i]}
                        -}
                    p.desc
                        -for(var i=0; i<course.description.length; i++) {
                            -if(course.description[i] == '\n')
                                br
                            -else
                                | #{course.description[i]}
                        -}
                    -if(purchased && course.type == 'مجازی'){
                        a.enter-link(href="#{course.classLink}") 
                            i.fa.fa-sign-in-alt
                            | ورود به کلاس
                    -}

                -if(user && user.role == 'admin'){
                    .admin-control 
                        a.edit(href="/dashboard/add-course")
                            i.fa.fa-plus 
                        -if(course.enable){
                            a.enable(href="/courses/disable-course?id=#{course._id}" onclick="return confirm('مطمئن هستید؟')")
                                i.fa.fa-check-square
                        -}else{
                            a.disable(href="/courses/enable-course?id=#{course._id}" onclick="return confirm('مطمئن هستید؟')")
                                i.fa.fa-square
                        -}
                        a.edit(href="/courses/edit-course?id=#{course._id}")
                            i.fa.fa-edit  
                        a.times(href="/courses/delete-course?id=#{course._id}" onclick="return confirm('مطمئن هستید؟')")
                            i.fa.fa-times 
                -}
            -if(user && user.role == 'admin'){
                .content 
                    .participators-view.data-list-view 
                        h1.title شرکت کنندگان
                        .title-raw 
                            .item.center.col25 نام و نام خانوادگی
                            .item.center.col20 تلفن
                            .item.center.col25 ایمیل
                            .item.center.col10 حذف
                        -for(var i=0; i<participators.length; i++){
                            .raw 
                                .item.center.col25.bold  
                                    i.fa.fa-user.icon 
                                    | #{participators[i].fullname}  
                                .item.center.col20 #{participators[i].phone}  
                                .item.center.col25 #{participators[i].email}  
                                .item.center.col10 
                                    a.delete(href="/courses/online-course/delete-participator?userID=#{participators[i]._id}&courseID=#{course._id}" onclick="return confirm('مطمئن هستید؟')")
                                        i.fa.fa-trash-can 
                        -}
                    .form-view
                        form#buyform(action="/courses/online-course/add-participator" method="POST") 
                            input.hide(type="text" name="courseID" value="#{course._id}")
                            .raw 
                                select.quarter(name="userID") 
                                    -for(var i=0; i<allUsers.length; i++){
                                        option(value="#{allUsers[i]._id}") #{allUsers[i].fullname}
                                    -}
                                button.inline.blue(type="submit")
                                    i.fa.fa-plus
                                    | افزودن
            -}
            -if(course.type == 'مجازی'){
                .content 
                    include ./timeline
            -}
        .sidebar-view 
            -if(!purchased)
                include buy-course
            include ./support
            include sessions
            include sidebar
    script.
        document.getElementById('navlink-3').classList.add('active');
