extends ../layout

block styles
    link(rel="stylesheet", href="/css/courses/course-view.css")

block content
    .course-view 
        .course-cont-view
            .content
                .course-cover
                    .cover
                        video(width="320" height="240" controls controlsList="nodownload" oncontextmenu="return false;") 
                            source(src="#{session.file}")
                        //- img(src="#{course.cover}", alt="")
                    h1.title= session.title
                    p.desc= session.description
                -if(user && user.role == 'admin'){
                    .admin-control 
                        //- -if(course.enable){
                        //-     a.enable(href="/courses/disable-course?id=#{course._id}")
                        //-         i.fa.fa-check-square-o
                        //- -}else{
                        //-     a.disable(href="/courses/enable-course?id=#{course._id}")
                        //-         i.fa.fa-square-o
                        //- -}
                        a.edit(href="/courses/edit-session?index=#{sessionIndex}&id=#{course._id}")
                            i.fa.fa-edit  
                        a.times(href="/courses/delete-course?index=#{sessionIndex}&id=#{course._id}")
                            i.fa.fa-times 
                -}
        .sidebar-view 
            include sessions
            include buy-course
                    
            include sidebar
    script. 
        document.getElementById('navlink-3').classList.add('active');
