extends ../layout

block styles
    link(rel="stylesheet", href="/css/courses/course-view.css")

block content
    .course-view 
        .course-cont-view
            .content
                .edit-session
                    form(action="/upload/add-session" method="POST" enctype="multipart/form-data") 
                        input.hide(type="text" name="sessionIndex" value="#{sessionIndex}")
                        input.hide(type="text" name="courseID" value="#{course._id}")
                        .raw 
                            input.dual(type="text" name="title" value="#{session.title}" placeholder="عنوان")
                            input.quarter(type="number" name="hours" value="#{session.hours}" placeholder="تعداد ساعت")
                            input.quarter(type="number" name="minutes" value="#{session.minutes}" placeholder="تعداد دقیقه")
                        .raw
                            textarea.long(name="description" placeholder="توضیحات کامل") #{session.description}
                        .raw
                            select.quarter(name="type") 
                                option(value="#{session.type}") #{session.type}
                                option(value="free") رایگان
                                option(value="locked") قفل
                        .upload 
                            input.file(type="file" name="picture")
                        .align-left
                            button(type="submit") ثبت

        .sidebar-view 
            include sessions
                    
            include sidebar
    script. 
        document.getElementById('navlink-3').classList.add('active');
