doctype html

html
    head
        title مرکز تحقیقات رباتیک
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/fontawesome-free-6.6.0-web/css/all.css")
        link(rel="shortcut icon", href="/img/logo.png", type="image/x-icon")
        script(src="/js/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/theme.css')
        link(rel='stylesheet', href='/css/home-fa.css')
        link(rel='stylesheet', href='/css/triple-card.css')
        link(rel='stylesheet', href='/css/four-card.css')
        link(rel='stylesheet', href='/css/double-side.css')
        link(rel='stylesheet', href='/css/slideshow.css')
        link(rel="stylesheet", href="/css/components/header2.css")
    
    body
        .nav-black-modal
        .black-modal
        include ./components/nav-home
        //- include ./components/header1
        include ./components/header2
        
        section.white
            h1.title
                .line 
                .text تخفیف‌های ویژه فروشگاه
            .scroll-card-view
                .four-card-view.width80.scroll#scroll-view-1
                    button.scroll-btn#scroll-btn-right(onclick="scroll_right()")
                        i.fa.fa-chevron-right
                    .scroll-view
                        -for(var i=0; i<products.length; i++){
                            a(href="/products/product-view?id=#{products[i]._id}").card 
                                .image 
                                    img(src="#{products[i].pictures[0]}", alt="")
                                h1= products[i].title
                                -if(products[i].available)
                                    .available.green موجود
                                -else
                                    .available.red نا موجود
                                .nodiscount
                                    .val= dot(products[i].nodiscountprice)
                                    .unit تومان
                                .info 
                                    .price
                                        .val= dot(products[i].price)
                                        .unit تومان
                                    -if(products[i].available){
                                        .buy-btn 
                                            i.fa.fa-shopping-cart
                                            | خرید
                                    -}
                        -}
                    button.scroll-btn#scroll-btn-left(onclick="scroll_left()")
                        i.fa.fa-chevron-left
            a.seemore(href="/products") مشاهده بیشتر 
                i.fa.fa-chevron-left
        section.white
            h1.title
                .line 
                .text محصولات جدید
            .scroll-card-view
                .four-card-view.width80.scroll#scroll-view-1
                    button.scroll-btn#scroll-btn-right(onclick="scroll_right()")
                        i.fa.fa-chevron-right
                    .scroll-view
                        -for(var i=0; i<recentProducts.length; i++){
                            a(href="/products/product-view?id=#{recentProducts[i]._id}").card 
                                .image 
                                    img(src="#{recentProducts[i].pictures[0]}", alt="")
                                h1= recentProducts[i].title
                                -if(recentProducts[i].available)
                                    .available.green موجود
                                -else
                                    .available.red نا موجود
                                .nodiscount
                                    .val= dot(recentProducts[i].nodiscountprice)
                                    .unit تومان
                                .info 
                                    .price
                                        .val= dot(recentProducts[i].price)
                                        .unit تومان
                                    -if(recentProducts[i].available){
                                        .buy-btn 
                                            i.fa.fa-shopping-cart
                                            | خرید
                                    -}
                        -}
                    button.scroll-btn#scroll-btn-left(onclick="scroll_left()")
                        i.fa.fa-chevron-left
            a.seemore(href="/products") مشاهده بیشتر 
                i.fa.fa-chevron-left
        section.white
            h1.title
                .line 
                .text دوره‌های آموزشی
            .triple-card-view.width80
                -for(var i=0; i < courses.length && i < 3; i++){
                    a(href="/courses/course-view?id=#{courses[i]._id}").card.fixed-height
                        .image 
                            img(src="#{courses[i].cover}", alt="")
                            -if(courses[i].type == 'مجازی')
                                .type.green آنلاین
                            -if(courses[i].type == 'آفلاین')
                                .type.pink آفلاین
                            -if(courses[i].type == 'حضوری')
                                .type.blue حضوری
                        h1= courses[i].title
                        p= courses[i].shortdescription
                        .teacher 
                            i.fa.fa-user 
                            .text= courses[i].teacher
                        .line
                        .info 
                            .stat 
                                i.fa.fa-clock
                                .val #{timedigit(courses[i].totalTime.hours)}:#{timedigit(courses[i].totalTime.minutes)}:00
                            .price
                                -if(courses[i].price > 0){
                                    .val= dot(courses[i].price)
                                    .unit تومان
                                -}else{
                                    .unit رایگان
                                -}
                -}
            a.seemore(href="/courses") مشاهده بیشتر 
                i.fa.fa-chevron-left
        section.white
            h1.title
                .line 
                .text خدمات پرینت سه بعدی
            .double-side-view
                .part 
                    img(src="/img/3dprint.jpg")
                .part 
                    p ما در کسب‌وکار خود خدمات چاپ سه‌بعدی و طراحی سه‌بعدی را ارائه می‌دهیم. اگر شما ایده‌ای برای یک محصول یا قطعه دارید، ما می‌توانیم آن را با استفاده از تکنولوژی پیشرفته چاپ سه‌بعدی به واقعیت تبدیل کنیم. همچنین، اگر به دنبال یک طراحی سفارشی برای پروژه‌های خود هستید، تیم ما آماده است تا با دقت و خلاقیت نیازهای شما را برآورده کند. هدف ما این است که با ارائه‌ی راه‌حل‌های نوآورانه و کیفیت برتر، پروژه‌های شما را به سطح جدیدی برسانیم.
                    .order-btn
                        a(href="/print3d")
                            i.fa.fa-shopping-cart
                            | ثبت سفارش
                    .stat 
                        .item
                            i.fa.fa-bullhorn
                            | 100ها فایل سه بعدی 
                        .item
                            i.fa.fa-motorcycle
                            | ارسال سریع
        include ./components/footer
        //- https://mattfarley.ca/
        script(src="/js/home.js") 
        script(src="/js/graph.js") 
        script(src="/js/scroll-card.js") 
        script(src="/js/slideshow.js") 
        include ./components/goftino
