extends ../layout

block styles
    link(rel="stylesheet", href="/css/products/product-view.css")
    link(rel="stylesheet", href="/css/gallery.css")
    link(rel='stylesheet', href='/css/four-card.css')
    link(rel="stylesheet", href="/css/dashboard/order-progress.css")
    link(rel="stylesheet", href="/css/incomplete-order.css")

block content
    include ./login-popup
    -if(user)
        include ../components/incomplete-order
    .product-view 
        .content 
            .pictures 
                .gallery-container
                    -for(var i = 0; i<product.pictures.length; i++){
                        .mySlides
                            .numbertext #{i+1} / #{product.pictures.length}
                            img(src='#{product.pictures[i]}', style='width:100%')
                    -}
                    a.prev(onclick='plusSlides(-1)') &#x276F;
                    a.next(onclick='plusSlides(1)') &#x276E;
                    .row
                        -for(var i = 0; i<product.pictures.length; i++){
                            .column
                                img.demo.cursor(src='#{product.pictures[i]}', style='width:100%', onclick='currentSlide(#{i+1})', alt='The Woods')
                                -if(user && user.role == 'admin' && product.pictures.length > 1){
                                    a.delete(href="/products/delete-product-picture?id=#{product._id}&index=#{i}" onclick="return confirm('مطمئن هستید؟')") 
                                        i.fa.fa-trash
                                -}
                        -}
                -if(user && user.role == 'admin'){
                    .add-photo
                        form(action="/upload/add-product-photo" method="POST" enctype="multipart/form-data") 
                            input.hide(type="text" name="id" value="#{product._id}")
                            input.file(type="file" name="picture")
                            button(type="submit") +
                -}
            .info-view 
                h1= product.title
                .stat 
                    .title کد کالا: 
                    .code= product.productCode
                    .comments 
                        a(href="#") نظرات
                    .stars 
                        i.fa.fa-star.star 
                        i.fa.fa-star.star 
                        i.fa.fa-star.star 
                        i.fa.fa-star.star 
                        i.fa.fa-star.star 
                    .share 
                        a(href="#") 
                            i.fa.fa-share-alt
                    .like 
                        a(href="#") 
                            i.fa.fa-heart-o
                .shortdecription= product.shortdescription 
                .shop-control 
                    form(action="/dashboard/add-to-cart" method="POST") 
                        input.hide(type="text" name="type" value="product")
                        input.hide(type="text" name="id" value="#{product._id}")
                        .label تعداد: 
                        .count 
                            button.add(type="button" onclick="add()")
                                i.fa.fa-plus 
                            input#count-input(type="number" name="count" value="#{product.defaultcount}")
                            button.sub(type="button" onclick="sub()")
                                i.fa.fa-minus
                        .actions 
                            .price #{dot(product.price)} تومان
                            -if(product.available){
                                -if(user){
                                    button.submit(type="submit")
                                        i.fa.fa-shopping-cart 
                                        .text افزودن به سبد خرید
                                -}else{
                                    #register-popup-btn
                                        i.fa.fa-shopping-cart 
                                        .text افزودن به سبد خرید
                                -}
                            -} else{
                                .not-available ناموجود
                            -}
                .category 
                    .label دسته بندی: 
                    a.value(href="/products?category=#{product.category}")= product.category
            -if(user && user.role == 'admin'){
                .admin-control 
                    a.edit(href="/dashboard/add-product")
                        i.fa.fa-plus  
                    -if(product.showHome){
                        a.home.active(href="/products/remove-home-product?id=#{product._id}" onclick="return confirm('مطمئن هستید؟')")
                            i.fa.fa-home
                    -}else{
                        a.home(href="/products/add-home-product?id=#{product._id}" onclick="return confirm('مطمئن هستید؟')")
                            i.fa.fa-home
                    -}
                    -if(product.enable){
                        a.enable(href="/products/disable-product?id=#{product._id}" onclick="return confirm('مطمئن هستید؟')")
                            i.fa.fa-check-square
                    -}else{
                        a.disable(href="/products/enable-product?id=#{product._id}" onclick="return confirm('مطمئن هستید؟')")
                            i.fa.fa-square
                    -}
                    a.edit(href="/products/edit-product?id=#{product._id}")
                        i.fa.fa-edit  
                    a.times(href="/products/delete-product?id=#{product._id}" onclick="return confirm('مطمئن هستید؟')")
                        i.fa.fa-times 
                    
                    
            -}
        .content 
            h1.title توضیحات بیشتر
            p.desc
                -for(var i=0; i<product.description.length; i++){
                    -if(product.description[i] == '\n')
                        br
                    -else
                        | #{product.description[i]}
                -}
        h1.related محصولات مرتبط
        .scroll-card-view
            .four-card-view.width80.scroll#scroll-view-1
                button.scroll-btn#scroll-btn-right(onclick="scroll_right()")
                    i.fa.fa-chevron-right
                .scroll-view
                    -for(var i=0; i<relatedProducts.length; i++){
                        a(href="/products/product-view?id=#{relatedProducts[i]._id}").card 
                            .image 
                                img(src="#{relatedProducts[i].pictures[0]}", alt="" loading="lazy")
                            h1= relatedProducts[i].title
                            -if(relatedProducts[i].available)
                                .available.green موجود
                            -else
                                .available.red نا موجود
                            .nodiscount
                                .val= dot(relatedProducts[i].nodiscountprice)
                                .unit تومان
                            .info 
                                .price
                                    .val= dot(relatedProducts[i].price)
                                    .unit تومان
                                -if(relatedProducts[i].available){
                                    .buy-btn 
                                        i.fa.fa-shopping-cart
                                        | خرید
                                -}
                    -}
                button.scroll-btn#scroll-btn-left(onclick="scroll_left()")
                    i.fa.fa-chevron-left
    script(src="/js/dashboard.js") 
    script(src="/js/gallery.js") 
    script(src="/js/scroll-card.js") 
    //- script.
    //-     document.getElementById('sidebar-link-1').classList.add('active');
    script.
        document.getElementById('navlink-2').classList.add('active');
        function add(){
            document.getElementById('count-input').value = parseInt(document.getElementById('count-input').value) + 1;
        }
        function sub(){
            if(parseInt(document.getElementById('count-input').value) > 1)
                document.getElementById('count-input').value = parseInt(document.getElementById('count-input').value) - 1;
        }
